<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- main css -->
  <link rel="stylesheet" href="/style/main.css">
  <!-- jquery -->
  <script defer
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script defer src="/scripts/dashboard.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>DASHBOARD</title>
</head>
<body>
  <table id="dashboard">
    <tr id="header">
      <td >First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Interests</td>
    </tr>
  </table>
</body>
</html>